 <footer>
    <div class="container-footer-all">
        <div class="container-body">
          <div class="colum1">
            <h1>M&Aacute;S INFORMACI&Oacute;N DE LA COMPAÑIA</h1>
            <div class="linea_bt"></div>
    
            <p>
              Tours Per&uacute; nace como plataforma de turismo enfocado en brindar la mejor experiencia al aventurero, se trata de poder conocer los destinos al máximo, con sus encantos, sus comidas y sus amores.
            </p>
          </div>
    
          <div class="colum2">
            <h1>REDES SOCIALES</h1>
            <div class="linea_bt"></div>
    
            <div class="fila">
              <img (click)="irFacebook()" src="../../../assets/icons/facebook.png" />
              <label (click)="irFacebook()" >Siguenos en Facebook</label>
            </div>
            <div class="fila">
              <img src="../../../assets/icons/instagram.png" />
              <label>Siguenos en Instagram</label>
            </div>
            <div class="fila">
              <img (click)="irWhatsapp()" src="../../../assets/icons/whatsapp.png" />
              <label (click)="irWhatsapp()">Siguenos en Whatsapp</label>
            </div>
          </div>
    
          <div class="colum3">
            <h1>INFORMACI&Oacute;N CONTACTOS</h1>
            <div class="linea_bt"></div>
    
            <div class="fila2">
              <img src="../../../assets/icons/house.png" />
              <label>Avenida pacto andino con central</label>
            </div>
    
            <div class="fila2">
              <img src="../../../assets/icons/smartphone.png" />
              <label>+51 922659760</label>
            </div>
    
            <div class="fila2">
              <img src="../../../assets/icons/email.png" />
              <label>josuepro711@hotmail.com</label>
            </div>
          </div>
        </div>
      </div>
    
      <div class="container-footer">
        <div class="footer">
          <div class="copyright">
            © 2023 Todos los Derechos Reservados |
            Tour Per&uacute;
          </div>
    
          <div class="information">
            <a href="">Informacion Compañia</a> |
            <a href="">Privacion y Politica</a> |
            <a href="">Terminos y Condiciones</a>
          </div>
        </div>
      </div>
  </footer>
  