<app-wrapper
  [imagenBg]="'../../../../../assets/imgs/otro-destino.jpg'"
  [titulo]="'Reservar experiencias únicas'"
  [descripcion]="'Explora los mejores tours y paquetes turísticos de todo el Perú'"
></app-wrapper>

<div class="grid-container">
  <div class="titulo">Top Destinos</div>
  <div class="grid-item grid-item1"><span>Arequipa</span><img src="../../../../assets/imgs/Arequipa.jpg" alt="Arequipa"></div>
  <div class="grid-item grid-item2"><span>Cuzco</span><img src="../../../../assets/imgs/Cuzco.jpg" alt="Cuzco"></div>
  <div class="grid-item grid-item3"><span>Ayacucho</span><img src="../../../../assets/imgs/Ayacucho.jpg" alt="Ayacucho"></div>
  <div class="grid-item grid-item4"><span>Chachapoyas</span><img src="../../../../assets/imgs/Chachapoyas.jpg" alt="Chachapoyas"></div>
  <div class="grid-item grid-item5"><span>Puno</span><img src="../../../../assets/imgs/Puno.jpg" alt="Puno"></div>
  <div class="grid-item grid-item6"><span>Tarapoto</span><img src="../../../../assets/imgs/Tarapoto.jpeg" alt="Tarapoto"></div>
</div>

<app-footer></app-footer>